## 23. –°–≤—è–∑–∏ –º–Ω–æ–≥–∏–µ-–∫–æ-–º–Ω–æ–≥–∏–º

### üîó –°–≤—è–∑–∏ –º–Ω–æ–≥–∏–µ-–∫–æ-–º–Ω–æ–≥–∏–º

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–û–¥–∏–Ω —Å—Ç—É–¥–µ–Ω—Ç –º–æ–∂–µ—Ç —É—á–∏—Ç—å—Å—è –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –∫—É—Ä—Å–∞—Ö. –û–¥–∏–Ω –∫—É—Ä—Å –º–æ–∂–µ—Ç –±—ã—Ç—å —É –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç—É–¥–µ–Ω—Ç–æ–≤. –≠—Ç–æ —Å–≤—è–∑—å "–º–Ω–æ–≥–∏–µ-–∫–æ-–º–Ω–æ–≥–∏–º". –ù–µ–ª—å–∑—è –ø—Ä–æ—Å—Ç–æ –¥–æ–±–∞–≤–∏—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ `id` –≤ –æ–¥–Ω–æ –ø–æ–ª–µ ‚Äî –Ω—É–∂–Ω–∞ –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–°–≤—è–∑—å "–º–Ω–æ–≥–∏–µ-–∫–æ-–º–Ω–æ–≥–∏–º" —Ä–µ–∞–ª–∏–∑—É–µ—Ç—Å—è —á–µ—Ä–µ–∑ **—Å–≤—è–∑—É—é—â—É—é —Ç–∞–±–ª–∏—Ü—É**, –∫–æ—Ç–æ—Ä–∞—è —Å–æ–¥–µ—Ä–∂–∏—Ç –ø–∞—Ä—ã `id` –∏–∑ –¥–≤—É—Ö –¥—Ä—É–≥–∏—Ö —Ç–∞–±–ª–∏—Ü.

- –í —ç—Ç–æ–π —Ç–∞–±–ª–∏—Ü–µ –æ–±—ã—á–Ω–æ –¥–≤–∞ —Å—Ç–æ–ª–±—Ü–∞ —Å –≤–Ω–µ—à–Ω–∏–º–∏ –∫–ª—é—á–∞–º–∏
- –ü–µ—Ä–≤–∏—á–Ω—ã–π –∫–ª—é—á –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–æ—Å—Ç–∞–≤–Ω—ã–º (–æ–±–∞ –ø–æ–ª—è), –∏–ª–∏ –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –æ—Ç–¥–µ–ª—å–Ω—ã–π `id`

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –°–≤—è–∑—å –º–Ω–æ–≥–∏–µ-–∫–æ-–º–Ω–æ–≥–∏–º –≤ SQLite
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –¢–∞–±–ª–∏—Ü–∞ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT
);
''')
# –¢–∞–±–ª–∏—Ü–∞ –∫—É—Ä—Å–æ–≤
cursor.execute('''
CREATE TABLE courses (
    id INTEGER PRIMARY KEY,
    title TEXT
);
''')
# –¢–∞–±–ª–∏—Ü–∞ —Å–≤—è–∑–µ–π student-course
cursor.execute('''
CREATE TABLE student_course (
    student_id INTEGER,
    course_id INTEGER,
    PRIMARY KEY (student_id, course_id),
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (course_id) REFERENCES courses(id)
);
''')
# –î–æ–±–∞–≤–∏–º —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –∏ –∫—É—Ä—Å—ã
cursor.executemany("INSERT INTO students (name) VALUES (?)", [("–ê–Ω–Ω–∞",), ("–ë–æ–±",)])
cursor.executemany("INSERT INTO courses (title) VALUES (?)", [("–ú–∞—Ç–µ–º–∞—Ç–∏–∫–∞",), ("–§–∏–∑–∏–∫–∞",)])
conn.commit()
# –°–≤—è–∂–µ–º —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ —Å –∫—É—Ä—Å–∞–º–∏
cursor.executemany("INSERT INTO student_course (student_id, course_id) VALUES (?, ?)", [
    (1, 1), (1, 2),  # –ê–Ω–Ω–∞ –Ω–∞ –¥–≤—É—Ö –∫—É—Ä—Å–∞—Ö
    (2, 2)           # –ë–æ–± —Ç–æ–ª—å–∫–æ –Ω–∞ —Ñ–∏–∑–∏–∫–µ
])
conn.commit()

# –ü–æ–ª—É—á–∏–º —Å–ø–∏—Å–æ–∫ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ —Å –∏—Ö –∫—É—Ä—Å–∞–º–∏
cursor.execute('''
SELECT s.name, c.title FROM student_course sc
JOIN students s ON s.id = sc.student_id
JOIN courses c ON c.id = sc.course_id
ORDER BY s.name
''')
print("üéì –°—Ç—É–¥–µ–Ω—Ç—ã –∏ –∏—Ö –∫—É—Ä—Å—ã:")
for row in cursor.fetchall():
    print(row)